body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: #09182a;
}

a {
    color: #000000;
    text-decoration: none;
}
a:hover{
    color: deeppink;
}

h1{
    background-color: #b3b3b3;
    width: 1170px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

div {
    padding: 10px;
}

ul {
    list-style-type: "\1F3B5";
}

li span{
    position: relative;
    left: 5px
}

button {
    width: 230px;
    height: 60px;
    font: 14px "Century Gothic", Futura, sans-serif;
    background-color: #1D4E89;
    color: #b3b3b3;
    border: none;
    outline: none;
}

/* ref: https://codepen.io/Chester/pen/QPoyjN */
@keyframes pulse {
    0% {
        opacity: 0.45;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.45;
    }

}

button.playing {
    position: relative;
    z-index: 0;
}

button.playing::before{
    content: '';
    position: absolute;
    z-index: -2;
    left: 0;
    top: 0;
    width: 230px;
    height: 60px;
    background-color: deeppink;
    animation: pulse 5s infinite;
}

button.playing::after{
    content: '';
    position: absolute;
    z-index: -1;
    left: 2px;
    top: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background: #1D4E89;
}

button.paused {
    border: 2px #1D4E89 solid;
}

.button-array{
    display: grid;
    grid-gap: 10px 10px;
    grid-template-columns: 230px 230px 230px 230px 230px;
    justify-content: center;
}

.directions {
    background-color: #123054;
    border: 1px #000000 solid;
    color: #b3b3b3;
    width: 1170px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}